.button {
  display: block;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.333333;
  text-align: center;
  color: rgb(255, 255, 255);

  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242,104,67) 100%);
  border: 0;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient( 90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
  }

  &:active {
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
  }
}
