.catalog {
  position: relative;
  &__page-header {
    margin-bottom: 27px;
  }
}

.top-light {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url('../img/catalog-bg.png') center top repeat-x;
}
