$dftColor: rgb(90, 90, 90);
$dftBgColor: rgb(248, 247, 244);
$inputBrColor: rgb(211, 211, 211);

.dispatch {
  padding: 6px;

  color: $dftColor;

  background: url('../img/mail-border.svg') no-repeat;
  background-size: cover;
  border-radius: 15px;

  &__content {
    width: 100%;
    height: 100%;
    padding: 28px 20px;

    background-color: $dftBgColor;
    border-radius: 15px;
  }

  &__description {
    margin-bottom: 35px;

    font-size: 1rem;
    line-height: 1.375;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__form-input {
    flex-grow: 1;
    min-height: 44px;
    margin-right: 10px;
    padding-left: 14px;

    border: 1px solid $inputBrColor;
    border-radius: 5px;
  }

  &__form-button {
    width: 130px;
    min-height: 44px;

    font-size: 1.125rem;
    line-height: 1.333333;

    border-radius: 22px;
  }
}

@media (max-width: 430px) {
  .dispatch {
    &__form {
      flex-wrap: wrap;
    }

    &__form-input {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &__form-button {
      margin: 0 auto;
    }
  }
}
