.filter-sort {
  &__title {
    display: block;
    margin-bottom: 7px;
    padding-left: 17px;
  }

  &__select {
    width: 193px;
    min-height: 36px;
    margin-right: 15px;
    padding-left: 15px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.125;
    color: rgb(255, 255, 255);

    background: url('../img/icon-down-dir-white.svg') 168px 13px no-repeat;
    background-color: rgb(169, 185, 175);
    border: none;
    border-radius: 18px;
    cursor: pointer;
    //REMUVE arrow

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    &::-ms-expand {
      display: none;
    }

    &:hover {
      color: rgb(0, 0, 0);

      background-color: rgb(255, 255, 255);
      background-image: url('../img/icon-down-dir-black.svg');
    }
  }
}
