$btnBg: rgb(169, 185, 175);
$btnBorder: rgb(255, 255, 255);
$btnHoverColor: rgb(50, 50, 50);
$btnHoverBg: rgb(255, 255, 255);

.filters {
  padding-left: 2.25%;
  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 860px;

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.142857;
  }

  &__filter-sort {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  &__filter-price {
    margin-right: 14px;
    margin-bottom: 15px;
  }

  &__filter-fat {
    margin-bottom: 15px;
  }

  &__filter-type {
    margin-right: 14px;
  }

  &__form-button {
    align-self: flex-end;
    height: 36px;
    padding: 0 26px 0 28px;

    font-size: 1rem;
    line-height: 1.125;

    background: $btnBg;
    border: 2px solid $btnBorder;
    border-radius: 18px;
    box-shadow: none;

    &:hover {
      color: $btnHoverColor;

      background-color: $btnHoverBg;
      background-image: none;
      box-shadow: none;
    }

    &:active {
      background-image: none;
      box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 1);
    }
  }
}
