$dftColor: rgb(255, 255, 255);
$rangeBg: rgb(169, 185, 175);
$rangeColorEmpty: rgba(255, 255, 255, 0.5);
$rangeColor: rgba(255, 255, 255, 1);
$toggleBg: rgba(255, 255, 255, 1);
$toggleBgInner: rgba(171, 171, 171, 1);

.filter-price {
  &__wrap {
    margin-bottom: 4px;
    padding-left: 15px;

    font-size: 0;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      /* display: none; <- Crashes Chrome on hover */

      -webkit-appearance: none;
    }
  }

  &__title {
    float: left;
    margin-right: 5px;

    font-size: 0.875rem;
    line-height: 1.142857;
    vertical-align: top;
  }

  &__min {
    display: inline-block;
    width: 25px;
    margin-right: 2px;

    font-size: 0.875rem;
    line-height: 1.142857;
    vertical-align: top;
    color: $dftColor;
  }

  &__metr {
    display: inline-block;
    margin-right: 5px;

    font-size: 0.875rem;
    line-height: 1.142857;
    vertical-align: top;
  }

  &__sep {
    display: inline-block;
    margin-right: 3px;

    font-size: 0.875rem;
    line-height: 1.142857;
    vertical-align: top;
  }

  &__max {
    display: inline-block;
    width: 25px;
    margin-right: 2px;

    font-size: 0.875rem;
    line-height: 1.142857;
    vertical-align: top;
    color: $dftColor;
  }

  &__range {
    width: 220px;
    height: 36px;
    margin-right: 14px;
    padding-top: 16px;

    background-color: $rangeBg;
    border: none;
    border-radius: 18px;
  }

  &__range-bar {
    position: relative;

    width: 176px;
    height: 4px;
    margin: auto;

    background-color: $rangeColorEmpty;
  }

  &__range-scale {
    width: 55.7%;
    height: inherit;
    margin-left: 23px;

    background-color: $rangeColor;
  }

  &__range-toggle {
    position: absolute;
    top: calc(-50% + 4px);
    left: 0;

    width: 20px;
    height: 20px;

    background-color: $toggleBg;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 4px;
      height: 4px;
      margin-top: -2px;
      margin-left: -2px;

      background-color: $toggleBgInner;
      border-radius: 50%;
    }

    &--min {
      left: 13px;
    }

    &--max {
      left: 111px;
    }
  }
}
