$dftColor: rgb(255, 255, 255);
$wrapBg: rgb(169, 185, 175);

.filter-fat {
  &__title {
    display: block;
    margin-bottom: 7px;
    padding-left: 17px;
  }
  &__wrap {
    display: flex;
    height: 36px;
    padding-top: 11px;
    padding-left: 14px;

    font-size: 1rem;
    line-height: 1.125;

    background-color: $wrapBg;
    border-radius: 18px;
  }

  &__radio:checked + &__label::before {
    background: url('../img/radio-on.svg') no-repeat;
    background-size: 100% auto;
  }

  &__label {
    position: relative;

    display: block;
    margin-right: 17px;
    padding-left: 32px;

    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 22px;
      height: 22px;

      background: url('../img/radio-off.svg') no-repeat;
      background-size: 100% auto;
    }
  }
}
