.index {
  &__container {
    &::after {
      content: url('../img/ice-background--1.png') url('../img/ice-background--2.png') url('../img/ice-background--3.png');
      position: absolute;
      top: 0;
      left: -9999px;
    }

    &--bg-1 {
      background: url('../img/ice-background--1.png') center top no-repeat;
    }

    &--bg-2 {
      background: url('../img/ice-background--2.png') center top no-repeat;
    }

    &--bg-3 {
      background: url('../img/ice-background--3.png') center top no-repeat;
    }
  }

  &__page-header {
    margin-bottom: 260px;
  }

  &--bg-1 {
    background-color: #849d8f;
  }

  &--bg-2 {
    background-color: #8996a6;
  }

  &--bg-3 {
    background-color: #9d8b84;
  }
}


@media (max-width: 860px) {
  .index {
    &__container {
      background-position-y: 200px;
      background-size: contain;

      &--bg-1 {
        background-image: url('../img/ice-background--1--tablet.png');
      }

      &--bg-2 {
        background-image: url('../img/ice-background--2--tablet.png');
      }

      &--bg-3 {
        background-image: url('../img/ice-background--3--tablet.png');
      }
    }

    &__page-header {
      margin-bottom: 200px;
    }
  }
}


@media (max-width: 785px) {
  .index {
    &__container {
      background-position-y: 250px;
    }
  }
}

@media (max-width: 600px) {
  .index {
    &__container {
      background-position-y: 250px;
    }

    &__page-header {
      margin-bottom: 200px;
    }
  }
}

@media (max-width: 490px) {
  .index {
    &__container {
      background-position-y: 280px;
    }
  }
}
