.index {
  &__container {
    background: url('../img/ice-background--1.png') center top no-repeat;
  }

  &__page-header {
    margin-bottom: 260px;
  }

  &--bg-1 {
    background-color: #849d8f;
  }

  &--bg-2 {
    background-color: #8996a6;
  }

  &--bg-3 {
    background-color: #9d8b84;
  }
}
