.page-main {
  &__presentation {
    margin-bottom: 39px;
  }

  &__shares {
    margin-bottom: 40px;
  }

  &__hits {
    margin-bottom: 39px;
  }

  &__about {
    margin-bottom: 39px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    min-height: 220px;
    margin-bottom: 40px;
    padding: 0 2.25%;
  }

  &__blog {
    width: 48.86%;
  }

  &__dispatch {
    width: 48.86%;
  }

  &__breadcrumbs {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 26px;
    padding-left: 2.25%;

    font-size: 2.1875rem;
    line-height: 1.171429;
  }
}
