.pagination {
  padding-right: 2.25%;

  text-align: right;
  &__menu {
    display: inline-block;
  }

  &__list {
    display: flex;
  }

  &__control-link {
    display: block;
    width: 8px;
    height: 12px;
    margin-top: calc(50% - 5px);

    font-size: 0rem;

    background: url('../img/icon-arrow-small.svg') no-repeat;
    background-size: 100% auto;

    &--prev {
      margin-right: 15px;

      transform: rotate(180deg);
    }

    &--next {
      margin-left: 14px;
    }

    &--disable {
      opacity: 0.2;

      pointer-events: none;
    }

    &--active {
      opacity: 1;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 2px;
    }
  }

  &__link {
    display: block;
    width: 27px;
    height: 26px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;

    border-radius: 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__current {
    display: block;
    width: 26px;
    height: 26px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
}
