$titleBorder: rgba(255, 255, 255, 0.2);
$hoverActiveLink: rgb(255, 188, 158);

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.25%;

  &__product {
    position: relative;

    width: 23.3%;
    margin-bottom: 38px;

    text-align: center;

    &:hover .products__product-hover {
      z-index: 1;
    }

    &--hit::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 61px;
      height: 61px;

      background: url('../img/hit.svg') no-repeat;
    }
  }

  &__img-wrap {
    position: relative;
  }

  &__product-img {
    margin-bottom: 9px;

    border-radius: 50%;
  }

  &__product-property {
    position: absolute;
    bottom: 22px;
    left: 0;

    min-height: 35px;

    font-weight: 700;
    text-align: left;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  }

  &__product-cost {
    font-size: 2.8125rem;
    line-height: 1;
  }

  &__p {
    display: inline-block;
    width: 28px;
    height: 32px;

    vertical-align: baseline;

    background: url('../img/p.svg') no-repeat;
  }

  &__product-weight-metr {
    font-size: 1.875rem;
    line-height: 1.5;
  }

  &__product-title {
    position: relative;
    z-index: 10;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375;

    border-bottom: 1px solid $titleBorder;

    &:hover,
    &:active {
      color: $hoverActiveLink;

      border-bottom: 1px solid $hoverActiveLink;
    }
  }

  &__product-hover {
    position: absolute;
    top: 0;
    left: -4.87%;
    z-index: -10;

    width: 110.1%;
    height: 125%;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  }

  &__button {
    position: absolute;
    bottom: 5.4%;
    left: 50%;

    min-height: 44px;
    padding: 0 5.4%;

    font-size: 1.125rem;
    line-height: 1.333333;

    border-radius: 16px/24px;
    transform: translateX(-50%);
  }
}
