.share {
  position: relative;

  width: 48.86%;
  padding: 18px 20px 90px 20px;

  text-align: left;

  border-radius: 13px;
  &__title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 1.171429;
  }

  &__description {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.222222;
  }

  &__button {
    position: absolute;
    right: 20px;
    bottom: 24px;

    min-height: 46px;
    padding: 0 22px;

    font-size: 1.125rem;
    line-height: 2.555556;

    border-radius: 23px;
  }
}
