$ctrlBtnBorder: rgb(255, 255, 255);
$activeCtrlBtnBg: rgba(255, 255, 255, 1);
$hoverCtrlBtnBg: rgba(255, 255, 255, 0.4);

.slider {
  position: relative;

  padding: 0 2.25%;

  &__list {
    position: relative;

    min-height: 275px;
  }

  &__item {
    position: absolute;
    z-index: -1;

    width: 100%;
    padding-top: 60px;

    &--active {
      z-index: 1;
    }
  }

  &__item-title {
    display: block;
    width: 700px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
  }

  &__button {
    position: absolute;
    bottom: 2px;
    left: 50%;
    z-index: 10;

    width: 280px;
    min-height: 64px;
    margin-left: -140px;

    font-size: 2rem;
    line-height: 2;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    border-radius: 32px;
  }

  &__control-list {
    position: absolute;
    bottom: 23px;
    left: 2.25%;

    display: flex;
  }

  &__control-item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__control-btn {
    width: 21px;
    height: 21px;

    font-size: 0rem;

    border: 2px solid $ctrlBtnBorder;
    border-radius: 50%;

    &:hover {
      background-color: $hoverCtrlBtnBg;
    }

    &--active {
      background-color: $activeCtrlBtnBg;

      pointer-events: none;

      &:hover {
        background-color: $activeCtrlBtnBg;
      }
    }
  }
}
