$fontFamily: "Roboto", "Georgia", sans-serif;

body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $fontFamily;
  color: #ffffff;
  text-transform: none;
  // letter-spacing: -0.02em;

  background-color: #849d8f;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  margin: 0;
  padding: 0;

  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  text-align: center;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

template {
  display: none !important;
}

button {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: 0;
  cursor: pointer;

  // Remove outiline bug in Firefox
  &:-moz-focusring {
    outline: 0;
  }
}

input {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
}
