- var mix =  ""
- var mod = ""

doctype html
html(lang="ru")

  include ./init/head.pug

  body.catalog
    .container
      - var mix = "catalog"
      - var mod = ""
      include ./blocks/page-header.pug

      main.page-main
        section.breadcrumbs.page-main__breadcrumbs
          h2.breadcrumbs__title.visually-hidden
            | Навигация
          ul.breadcrumbs__list
            each breadcrumb in breadcrumbs
              li.breadcrumbs__item
                if breadcrumb.url
                  a.breadcrumbs__link(href=breadcrumb.url)
                    | #{breadcrumb.name}
                else
                  span.breadcrumbs__current
                    | #{breadcrumb.name}

        h1.page-main__title
          | #{pageTitle}

        section.filters
        h2.filters__title.visually-hidden
          | Фильтры для выборки

        form.filters__form(method="GET", action="https://echo.htmlacademy.ru")
          - var mix = "filters"
          - var mod = ""
          include ./blocks/filter-sort.pug
          include ./blocks/filter-price.pug
          include ./blocks/filter-fat.pug
          include ./blocks/filter-type.pug
          button.filters__form-button.button(type='submit')
            | Применить


        section.catalog.page-main__catalog
          h2.catalog__title.visually-hidden
            | Каталог
          - var mix = "catalog"
          - var mod = ""
          include ./blocks/products.pug

        - var mix = "page-main"
        - var mod = ""
        include ./blocks/pagination.pug


      - var mix = ""
      - var mod = ""
      include ./blocks/page-footer.pug
