- var mix =  ""
- var mod = ""

doctype html
html(lang="en")

  include ./init/head.pug

  body.index

    - var mix = "index"
    - var mod = ""
    include ./blocks/page-header.pug

    main.page-main
      h1.page-main__title.visually-hidden
        | Магазин по продаже мороженого: "Glaccy Shope"

      section.presentation.page-main__presentation
        h2.presentation__section-title.visualy-hidden
          | Презентация мороженого
        - var mix = "presentation"
        - var mod = ""
        include ./blocks/slider.pug

      section.shares.page-main__shares
        h2.shares__section-title.visually-hidden
          | Акции
        - var inc = 0
        each share in shares
          - inc++
          - var mix = "shares"
          - var mod = inc + ""
          include ./blocks/share.pug

      section.hits.page-main__hits
        h2.hits__title.visually-hidden
          | Хиты продаж
        - var mix = "hits"
        - var mod = ""
        include ./blocks/products.pug

      section.about.page-main__about
        h2.abous__section-title.visually-hidden
          | О магазине "Glaccy Shope"
        strong.about__title
          | Магазин Глейси — это онлайн и офлайн магазин по продаже мороженого собственного производства на развес
        each featur, index in featurs
          p.about__featur(class="about__featur--" + index)
            | #{featur}

      section.blog.page-main__blog
        h2.blog__section-title
          | Новое в нашем блоге
        p.blog__title
          | #{blogTitle}

      section.dispatch.page-main__dispatch
        h2.dispatch__section-title
          | Подписка
        p.dispatch__description
          | Подпишитесь на нашу сладкую рассылку и будете всегда в курсе
          | всего самого вкусного, что у нас происходит. Обещаем не спамить
          | и не слать всякой ненужной ерунды. Честно =)
        form.dispatch.dispatch__form(action="GET", method="https://echo.htmlacademy.ru")
          label.dispatch__form-label.visually-hidden(for="dispatch__form-input") Электронная почта
          input.dispatch__form-input(id="dispatch__form-input", type="email", name="dispatch__form-input")
          button.dispatch__form-button.button(type="submit") Отправить

      section.contacts.page-main__contacts
        h2.contacts__section-title
          | Контактные данные
        .contacts__map
          iframe(src="https://yandex.ru/map-widget/v1/-/CBu0V4U1cB", frameborder="1", allowfullscreen="true")
        .contacts__feedback
          p.contacts__feedback-text
            span.contacts__feedback-top
              | Адрес главного офиса
              | и офлайн магазина:
            address.contacts__feedback-address
              | ул. Большая Конюшенная 19/8, Санкт-Петербург
            span.contacts__feedback-middle
              | Для заказов по телефону:
            address.contacts__feedback-phone
              | 8 812 450-25-25
            span.contacts__feedback-time
              | (с 10 до 20 ежедневно)
          button.contacts__button.button
            | Форма обратной связи

    - var mix = ""
    - var mod = ""
    include ./blocks/page-footer.pug
