include ./init/head.pug

body

  header.page-header
    - var mix = "page-header"
    - var mod = ""
    include ./blocks/header-top

  main.page-main
    h1.page-main__title.visually-hidden
      | Магазин по продаже мороженого: "Glaccy Shope"

    section.presentation.page-main__presentation
      h2.presentation__title.visualy-hidden
        | Презентация мороженого
      - var mix = "presentation"
      - var mod = ""
      include ./blocks/slider.pug

    section.shares.page-main__shares
      h2.shares__title.visually-hidden
        | Акции

      - var inc = 0
      each share in shares
        - inc++
        - var mix = "shares"
        - var mod = inc + ""
        include ./share.pug

    section.hits
      h2.hits__title.visually-hidden
        | Хиты продаж





    //  include ./blocks/header-top

