@import 'main-config/init.scss';
// @import 'font.scss';

@import 'main-config/visually-hidden.scss';
@import 'main-config/container.scss';
@import 'main-config/clearfix.scss';

@import '../common.blocks/button.scss';

@import '../common.blocks/page-header.scss';

@import '../common.blocks/page-content.scss';

@import '../common.blocks/page-footer.scss';
