@import 'main-config/init.scss';
// @import 'font.scss';

@import 'main-config/visually-hidden.scss';
@import 'main-config/container.scss';
@import 'main-config/clearfix.scss';

@import '../common.blocks/button.scss';

@import '../common.blocks/page-header.scss';
@import '../common.blocks/form-auth.scss';
@import '../common.blocks/form-search.scss';
@import '../common.blocks/form-cart.scss';

@import '../common.blocks/page-main.scss';
@import '../common.blocks/slider.scss';
@import '../common.blocks/shares.scss';
@import '../common.blocks/share.scss';
@import '../common.blocks/products.scss';
@import '../common.blocks/about.scss';
@import '../common.blocks/blog.scss';
@import '../common.blocks/dispatch.scss';
@import '../common.blocks/contacts.scss';

@import '../common.blocks/breadcrumbs.scss';
@import '../common.blocks/filters.scss';
@import '../common.blocks/filter-fat.scss';
@import '../common.blocks/filter-price.scss';
@import '../common.blocks/filter-sort.scss';
@import '../common.blocks/filter-type.scss';
@import '../common.blocks/pagination.scss';

@import '../common.blocks/page-footer.scss';

@import '../common.blocks/index.scss';
@import '../common.blocks/catalog.scss';
