- var blockName = "page-header"
include ./block-init.pug

header.page-header(class=[mix, mod])
  .page-header__first-layer
    a.page-header__logo(href="/index.html") Логотип Glaccy Shop
    //  MainMenu
    nav.page-header__nav-menu
      ul.page-header__nav-menu-list
        each objLink in headerNavMenuLinks
          li.page-header__nav-menu-item
            a.page-header__nav-menu-link(
              class = "page-header__nav-link--current" && (objLink.url == activePageUrl),
              href = objLink.url
            )
              | #{objLink.name}
            //  SubMenu
            nav.page-header__submenu
              ul.page-header__submenu-list
                each objSubLink in objLink.subMenuLinks
                  if (objSubLink.url == false)
                    li.page-header__submenu-item.page-header__submenu-item--border
                      span.page-header__submenu-title
                        | #{objSubLink.name}
                  else
                    li.page-header__submenu-item
                      a.page-header__submenu-link(
                        class = "page-header__submenu-link--current" && (objSubLink.url == activePageUrl),
                        href = objSubLink.url
                      )
                        | #{objSubLink.name}


    nav.page-header__nav-user
      ul.page-header__nav-user-list
        li.page-header__nav-user-item
          a.page-header__nav-user-link.page-header__nav-user-link--search(href="#")
            | Поиск
            include ../../img/lens.svg
          - var mix = "page-header"
          - var mod = ""
          include ./form-search.pug

        li.page-header__nav-user-item
          if user.auth == "false"
            a.page-header__nav-user-link.page-header__nav-user-link--login(href="#")
              | Вход
              include ../../img/auth.svg
            - var mix = "page-header"
            - var mod = ""
            include ./form-auth.pug
          else
            a.page-header__nav-user-link.page-header__nav-user-link--logoff(href="#")
              | Выход
              include ../../img/auth.svg
            - var mix = "page-header"
            - var mod = ""
            include ./user-profile.pug

        li.page-header__nav-user-item
          a.page-header__nav-user-link.page-header__nav-user-link--cart(href="#")
            include ../../img/cart-dis.svg

            if user.cartEmpty == "true"
              | Пусто
            else
              | #{user.cartTitle}
              - var mix = "page-header"
              - var mod = ""
              include ./form-cart

  .page-header__second-layer
    p.page-header__contacts
      span.page-header__work-time
        | С 10 до 20, ежедневно
      span.page-header__phone
        | 8&nbsp;812 450-25-25

