- var blockName = "share"
include ./block-init.pug

.share(class=[mix, mod], style="background-image: url(" + share.backgroundImgURL + ")")
  h3.share__title #{share.title}
  p.share__description #{share.description}
  a.button.share__button(href="#") #{share.buttonText}
