- var blockName = "slider"
include ./block-init.pug

.slider(class=[mix, mod])
  ul.slider__list
    - var inc = 0
    each objSlide in slider.promoSlides
      - inc++
      li.slider__item(
        class= (inc == 1) ? "slider__item--active" : "",
        data-slider-id = inc
        )
        h3.slider__item-title
          | #{objSlide.title}
  a.slider__button.button(href="#")
    | Давайте оба!
  ul.slider__control-list
    - var inc = 0
    each objSlide in slider.promoSlides
      - inc++
      li.slider__control-item
        button.slider__control-btn(
          class= (inc == 1) ? "slider__control-btn--active" : ""
          data-slider-id = inc
          )
          | Слайд №#{inc}
