- var mix =  ''
- var mod = ''

doctype html
html(lang='en')
  head

    meta(charset = 'utf-8')
    title #{title}
    link(href='assets/css/normalize.css', rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
