head

  meta(charset = 'utf-8')
  title #{title}
  link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic-ext", rel="stylesheet")
  link(href='assets/css/normalize.css', rel='stylesheet')
  link(href='assets/css/style.css', rel='stylesheet')
